:root {
    --max-width-container: 1600px;

    /* colors */
    --blue: #2339BC;
    --green: #acdb04;

    --nav-height: 50px;
    
    --h2-size: 42px;
    --h2-xsm-size: 40px;
    --h2-xxsm-size: 32px;

    --p-size: 15px;
    --p-sm-size: 16px;

    --text-nav-xxl-size: 20px;
    --text-nav-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body a {
    text-decoration: none;
}

a:hover, a:active, a:visited {
    text-decoration: none;
}

main p, li > span {
    letter-spacing: -.007em;
    line-height: 1.4;
    font-size: var(--p-size);
}

footer p, a {
    letter-spacing: -.007em;
    line-height: 1.4;
    font-size: var(--p-size);
}

nav a:active {
    background-color: var(--green) !important;
}

nav ul > li {
    margin-inline: 1em;
}

nav {
    font-size: var(--text-nav-xxl-size);
    z-index: 4;
    position: fixed;
    box-shadow: 0px 2px 10px rgba(0,0,0,.115);
    width: 100%;
    visibility: hidden;
}

h2 {
    font-weight: bold;
    font-size: var(--h2-size);
    z-index: 1;
}

#navContainer {
    min-height: var(--nav-height);
}

.blue {
    fill: var(--blue);
    background-color: var(--blue);
}

.green {
    fill: var(--green);
}

.cover h1 {
    font-size: 49px;
    font-weight: bold;
    letter-spacing: .01em;
}

.cover p {
    font-size: 21px;
    letter-spacing: .01em;
    font-weight: 500;
    line-height: 1.35;
}

.bg-container {
    overflow: hidden;
    position: relative;
}

.background {
    object-fit: cover;
    object-position: top;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.bg-content {
    z-index: 1;
}

.footer-content svg {
    height: 23px;
    fill: white;
    margin-bottom: .05em;
}

.footer-content p {
    display: inline;
    color: white;
}

.footer-content a {
    color: white;
}

.footer-content span {
    white-space: nowrap;
}

.footer-title {
    font-size: var(--h2-xsm-size);
    font-weight: 620;
}

.icon {
    height: 4.2em;
    width: auto;
    fill: var(--green);
}

.translucent-box {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.09);
    max-width: 340px;
}

.shadow-css {
    border-radius: 23px;
    box-shadow: 1px 4px 50px -5px rgba(0, 0, 0,.115);
    text-align: center;
    height: 100%;
}

.shadow-css p {
    text-align: start;
}

.button {
    border-radius: 60px;
    border: 2px solid var(--blue);
    max-width: 270px;
    margin-inline: 1.6em;
    height: 60px;
    color: var(--blue);
    font-weight: 500;
    font-size: calc(var(--p-size) + 1.5px);
}

.button a:hover, .button a:active, .button a:visited {
    color: var(--blue);
}

.button span {
    margin-block: auto;
}

.row-container {
    display: flexbox;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: var(--max-width-container);
}

#navbarNav {
    display: flexbox;
    justify-content: start;
    padding-inline: 2.5em;
}

#navbarNav svg {
    fill: var(--green);
    margin-inline: 1em;
}

.absolute {
    top: 0px;
    right: 0px;
    position: absolute;
    padding: 0px;
}

.cover-space {
    width: 100%;
}

.modal p, span {
    letter-spacing: -.007em;
    line-height: 1.4;
    font-size: calc(var(--p-size) + 3);
}

.modal-sm {
    max-width: 420px;
}

.notification-modal svg {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
}

.notification-modal p {
    padding-left: 16%;
}

.close-modal {
    position: absolute !important;
    top: 7px;
    right: 7px;
    z-index: 2 !important;
    color:rgba(160, 160, 160);
}

@media screen and (max-width: 1500px){
    nav {
        font-size: var(--text-nav-size);
    }
}

@media screen and (max-width: 1285px){
    nav {
        visibility: visible;
    }
}

@media screen and (max-width: 887px){
    .cover h1 {
        font-size: var(--title-size);
    }
    
    .cover p {
        font-size: var(--text-size);
    }
}

@media screen and (max-width: 575px){
    nav ul > li {
        margin-inline: 0em;
    }

    nav ul > li > a {
        margin-block: .4em;
    }

    #navbarNav {
        padding-block: .6em;
    }

    #navbarNav svg {
        display: none;
    }

    h2 {
        font-size: var(--h2-xsm-size);
    }

    .cover h1 {
        font-size: var(--title-xsm-size);
    }
    
    .cover p {
        font-size: var(--text-xsm-size);
    }

    .footer-title {
        font-size: var(--h2-xxsm-size);
    }

    main p, li > span {
        font-size: var(--p-sm-size);
    }

    footer p, a {
        font-size: var(--p-sm-size);
    }

    .button {
        height: 53px;
    }

    .modal p, span {
        font-size: calc(var(--p-sm-size) + 3);
    }

    .modal-sm {
        max-width: 100%;
    }

    .modal-dialog {
        margin: 1.8em;
    }
}

@media screen and (max-width: 420px){
    .button {
        font-size: calc(var(--p-sm-size) + 1.5px);
    }

    .modal-dialog {
        margin: 1.8em .5em;
    }
}

@media screen and (max-width: 359px){
    h2 {
        font-size: var(--h2-xxsm-size);
    }
}